---
Minio (Beta)
---

<p class="note warning">
<strong>WARNING! </strong>
The Minio for PCF tile is currently in beta and is intended for evaluation and test purposes only. 
Do not use this product in a PCF production environment.
</p>

This documentation describes Minio for Pivotal Cloud Foundry (PCF). Minio is an open source object storage server with Amazon S3 compatible API.


## <a id='overview'></a>Overview

Minio for PCF provides Object Storage for applications and users. Minio can also be run in the following modes:
* FS - stores objects on disk based filesystem
* Erasure - stores objects in erasure coded backend
* GCS - stores S3 objects on GCS
* Azure - stores S3 objects on Azure Blob Storage


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Minio for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>0.9.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>Oct 30 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>2017-09-29T19:16:56Z</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.9.x and v1.10.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>vYOUR-COMPATIBLE-ELASTIC-RUNTIME-VERSION (Ex. v1.8.x, v1.9.x, and v1.10.x)</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>No</td>
    </tr>
</table>

## <a id="feedback"></a>Join Community
Minio community is active on Slack, GitHub and Twitter. Our [Slack](https://slack.minio.io/) Channel is a good place to get started, if you are new to Minio.

## <a id='license'></a>License

Apache-2.0
